html, body 
{
    margin: 0; 
    height: 100%; 
    overflow: hidden
}

.loader {
    position: absolute;
    top :0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#chatbox {
    height: 90vh;
    overflow-y: auto;
}

.message p {
    display: inline;
}