html, body 
{
    overflow: hidden;
}

#topbar {
    height: 50px;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#chat-box {
    padding: 5px;
    height: calc(100vh - 110px);
    overflow-y: scroll;
}

.message p {
    display: inline;
}